your master ssh key has been created for you. it can be found here:
  {{ identity_file }}
the passphrase for it is:
  {{ login_user_passphrase }}

you will want to store the passphrase in your OS's keychain (or equivalent),
as well as your preferred password management system. presumably,
you will want to use the key for additional projects in the future.
if they utilize this role with this configuration, it will be reused and not
overwritten.

Once the passphrase has been safely stored, you may safely destroy this file.
