Host {{ hostvars[item]['inventory_hostname'] }} {{ project }}-{{ environ }} {% for alias in ssh_aliases %}{{ alias }} {% endfor %}  
	Hostname {{ hostvars[item]['inventory_hostname'] }}
	User {{ login_user }}
	IdentityFile {{ identity_file }}
	PreferredAuthentications publickey
	IdentitiesOnly yes
{% if environ == 'dev'  %}
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
{% endif %}
