# Vagrant
.vagrant

# Ansible
*.retry
*.cache

# python
.ropeproject

# local
roles/*
!roles/README.md
!roles/local.*
playbooks/templates/shibconfigs*
playbooks/test_*
playbooks/_reference

# db_backup
db_backup/*
!db_backup/.keep

# BEGIN testup
Gemfile
Gemfile.lock
.bundle/
vendor/
# END testup
