# REM: if you are looking for passwords or other variables
# that vary from dev to stage to prod, check the other subfolders

# setup vars
project:        "jscholarship"
version:        "0.1.0"
login_user:     "deploy"

# testing vars
set_up_tests:   true

# application user vars - dspace user and tomcat user
app_user:       "dspace"

# apache vars
dspace_name:            "JScholarship"
hostname:               "{{ dspace_name | lower }}"
domainname:             "library.jhu.edu"
apache_https:           true
apache_proxy_tomcat:    true

# db vars
db_password:            "{{ vault_db_password }}"
db_name:                "dspace"
db_user:                "dspace"
db_create_users:        true
db_users:
  - user:               "{{ db_user }}"
    pass:               "{{ db_password }}"
    flags:              "NOSUPERUSER"

db_create_databases:    true
db_databases:
  - name:               "{{ db_name }}"
    encoding:           "UTF-8"
    owner:              "{{ db_user }}"

postgres_hba_entries:
- type:                 "host"
  database:             "{{ db_name }}"
  user:                 "{{ db_user }}"
  address:              "{{ dspace_address }}"
  method:               "md5"
