{#
  NOTE: example template to override the default pg_hba.conf

  to use, rename to pg_hba.conf.j2
  and include the variable:
    postgres_hba_template:     "templates/pg_hba.conf.j2"

  any vars you use here must be defined in the project.
  ...project templates can't used vars only defined in included roles

  NOTE: if you template the hba config in this way,
  you must either include all entries for all environments that will share the
  database server in the template, or redundantly define them as postgres_hba_entries
  in each environment's group vars (e.g. test and stage must include each other's
  entries in their group vars). Otherwise, the template will overwrite any
  existing entries, and the group's vars will only replace their own entries.
  Therefore, by default, we are no longer templating a default config, and can
  thereby allow each environment's group vars to only be responsible for its own entries

#}
# PostgreSQL Client Authentication Configuration File - TEST
# ===================================================

# TYPE  DATABASE        USER                      ADDRESS                 METHOD
# DB admin local connection
local   all             {{ postgres_admin_user }}                         ident
# "local" is for Unix domain socket connections only
local   all             all                                               md5
# IPv4 local connections:
host    all             all                       127.0.0.1/32            md5
# IPv6 local connections:
host    all             all                       ::1/128                 md5
